/* === CSS RESET === */
html, body, div, span, applet,
object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* === End of CSS RESET === */

body {
	background: #e55121;
	color: #fff;
	font-size: 18px;
	line-height:22px;
	font-family: 'SegoeWpLight',Arial, Helvetica, sans-serif;
	position:relative;
}
h1 {
	 font-family: 'SegoeWpBold';
	 font-size: 46px;
	 color:#fff;
	 margin-bottom: 30px;
	 line-height:50px;
	 letter-spacing:-1px;
}
h2 {
	font-family: 'SegoeWpBold';
	color:#2e2626;
	font-size: 30px;
	line-height: 30px;
}

h3 {
	font-family: 'SegoeWpBold';
	color:#fff;
	font-size: 24px;
	line-height: 30px;
		margin-bottom:15px;
}

a, a:visited {
	color:#fff;
}

a:hover {
	color: #fff;
}

a:active {
	color: #fff;
}


.link_ico {
	text-decoration:none;
}

.btn-gray {
	background:#2e2626;
	border:0;
	display:block;
	color:#fff;
	font-size:24px;
	height:48px;
	line-height:46px;
	text-decoration:none;
}

p {
	color:#fff;
	font-size: 18px;
    line-height: 22px;
    margin-bottom: 18px;
}

/* nav */
.nav {
	width:128px;
	padding:0;
	position: fixed;
	z-index: 9999999;
	top: 15px;
	left:15px;
}


.logo {
	height:128px;
	width:128px;
	position:relative;
	z-index:10;
	cursor: pointer;
}
.logo img {
	height:100%;
	width:100%;
}

/* clear */

.clearfix:after,
.header .inner:after,
.menu:after,
.top:after,
.fields-list:after,
.bottom__inner:after,
.section_info:after,
.section_promo:after,
.section_banners:after,
.promo-tabs__tabs:after,
.columns:after,
.section_materials:after {
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}